html,body{
  height:100%;
  margin:0px;
  background-color:pink;
  
}
header{
  box-sizing:border-box;
  height:50px;
  background-color:yellow;
  border-bottom:2px solid;
}
aside{
  box-sizing:border-box;
  height:calc(100% - 50px);
  width:100px;
  background-color:red;
  border-right:2px solid;
}
main{
  margin-left:100px;
  height:calc(100% - 50px);
  margin-top:calc(-100vh + 50px);
  background-color:orange;
  
}
